.card {
  background-color: white;
  width: 320px;
  height: 430px;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 1px 5px rgb(30, 30, 30);
  box-sizing: border-box;
}

.header {
  width: 320px;
  height: 180px;
  grid-row: auto;
  box-sizing: border-box;
  position: relative;
}

.header img {
  width: 320px;
  height: 180px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header .heart_icon {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  color: var(--dark-blue);
  border-radius: 50px;
}

.header .heart_icon:hover {
  font-size: 40px;
  transition: all 0.2s ease-in-out;
}

.card_head {
  height: 70px;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.card_head .card_title {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(63, 63, 63);
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.card_content {
  padding: 2px 12px;
  height: 130px;
  max-height: 145px;
  color: rgb(55, 55, 55);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding-top: 10px;
  padding-bottom: 2px;
  gap: 8px 5px;
}

.card_content div {
  padding: 5px 10px;
  margin: 0;
  background-color: whitesmoke;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card_category {
  grid-column: 1 / 3;
}

.card_content .card_info_title {
  font-size: 12px;
  font-weight: 900;
  padding-left: 2px;
}

.card_content .card_info {
  font-size: 16px;
  padding-left: 4px;
}

.card_color_options {
  font-size: 50px;
  background-color: var(--blue);
}

.card_action {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 12px;
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

.card_action .card_price {
  margin-left: 15px;
  color: rgb(53, 53, 53);
}
