.container{
    position: relative;
    display: flex;
    width: 400px;
    height: 200px;
    
}
.imagen2{
    position: absolute;
    top: -380px;
    left: 100px;
    width: 450px;
    height: 300px;  
}

.nombre{
    position: relative;
    left: 120px;
    top: -450px;
}

.icon{
    position: relative;
    left: 110px;
    top: -460px;
}
