.start {
    width: 100%;                
    padding: 10px;             
    border: 1px solid #ccc;    
    border-radius: 5px;       
    font-size: 1em;            
    box-sizing: border-box;     
    margin-top: 5px;           
    margin-bottom: 15px;        
  }
  
 
  .start:focus {
    border-color: #7878ee;      
    outline: none;         
  }
  
  
  .start::placeholder {
    color: #888;                
    font-style: italic;        
  }