.container{
    position: relative;
    display: flex;
    width: 400px;
    height: 200px;
    
}
.imagen2{
    position: absolute;
    top: 180px;
    left: 30px;
    width: 450px;
    height: 300px;  
}

.nombre{
    position: relative;
    left: 60px;
    top: 110px;
}

.icon{
    position: relative;
    left: 1px;
    top: -4px;
}
