.article {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(192, 192, 220);
  border: 3px ridge var(--blue);
  cursor: pointer;
  padding: 0px 10px;
  margin: 0px 10px;
  max-height: 45px;
}

.total_products_container {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: 600;
  opacity: 0.9;
  background-color: var(--yellow);
  border-radius: 10px;
}

.article .text {
  font-size: 20px;
  font-weight: 700;
}

.modal_header {
  background-color: var(--violet);
  border: 2px ridge var(--dark-violet);
}

.modal_body {
  border-top: 2px ridge var(--dark-violet);
  border-left: 2px ridge var(--dark-violet);
  border-right: 2px ridge var(--dark-violet);
  background-color: whitesmoke;
}

.modal_footer {
  border-bottom: 2px ridge var(--dark-violet);
  border-left: 2px ridge var(--dark-violet);
  border-right: 2px ridge var(--dark-violet);
}

.price {
  font-weight: 700;
  margin-right: 15px;
  color: rgb(53, 53, 53);
}
